<x-header></x-header>

<x-layout>
    <body>
        <div>
            <h1>Profile Page</h1>
            <img src="", alt="Profile Picture"> <!--add database connections-->
        </div>

        <br>

        <div>
            <h2>Username</h2>
            <h2>Email</h2> <!--add database connections-->
        </div>

        <br>
        <br>
        <br>

        <div>
            <!-- show past orders-->
             <h2> Show Past Orders</h2>
        </div>
    </body>
</x-layout>

<x-footer></x-footer>

